# This file is read by default from:
# ../minetest.conf
# ../../minetest.conf
# Any other path can be chosen by passing the path as a parameter
# to the program, eg. "minetest.exe ../minetest.conf.example"
#
# By default, all the settings are commented and not functional.
# Uncomment settings by removing the preceding #.

#DedicatedServer =

# Client side stuff

#WantedFps = 30
#MaximalFps = 60
#ViewRangeMin = 20
#ViewRangeMax = 300
#ScreenWidth = 
#ScreenHeight = 
#HostGame = 
#Address = kray.dy.fi
#Port = 30000
#Name = 

#RandomInput = false
#DeleteUnusedSectorTimeout = 1200

# Server side stuff

# - The possible generators are:
# (Indeed you can do all of them with only "power" 8))
# H=value:
#     constant <value>
# H=slope.dot(pos):
#     linear <height> <slope.X> <slope.Y>
# H=slope.dot(pos^power):
#     power <height> <slope.X> <slope.Y> <power>

#HeightRandMax = constant 70.0
#HeightRandFactor = constant 0.6
#HeightBase = linear 0 35 0
#PlantsAmount = 1.0
#RavinesAmount = 1.0

# Set to true to enable creative mode (unlimited inventory)
#CreativeMode = false
# Player and object positions are sent at intervals specified by this
#ObjectDataInverval = 0.2

#ActiveObjectRange = 2

#MaxBlockSendsPerClient = 1
#MaxBlockSendsTotal = 4
